@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,900;1,400&display=swap");

// ### COLOURS

// PRIMARY

$BrightGreen: rgb(84, 230, 175);
$Darkgrey: rgb(44, 52, 75);
$DarkBlue: rgb(18, 23, 37);

// NEUTRAL

$white: rgb(255, 255, 255);
$mediumGrey: rgb(90, 102, 138);
$lightGrey: rgb(194, 203, 229);

// ### TYPOGRAPHY
